@import url('https://fonts.cdnfonts.com/css/neutra-text-alt');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Neutra Text', sans-serif !important;
}
.p-component{
  font-family: 'Neutra Text', sans-serif !important;
}
.dropdown-menu{
  padding: 0 !important;
}
:root {
  --Black: #322625;
  --Grey: #ebebeb;
  --Blue: #c0e3e5;
  --Yellow: #fdc936;
}
